<div class="footer">

    <!-- -------------------Side footer--------------------------- -->
    <div class="side-footer">
        <div class="social_media">
            <p><a href="#">Clearpixel.com</a></p>
            <ul>
                
                <a href="https://www.facebook.com/saykat.bhakta"><i class="fa-brands fa-facebook"></i></i></a>
                <a href="https://github.com/saykatbhakta"><i class="fa-brands fa-github"></i></a>
                <a href="https://www.instagram.com/saykat_bhakta/"><i class="fa-brands fa-instagram"></i></i></a>
                <a href="https://www.youtube.com/@saykatbhakta"><i class="fa-brands fa-youtube"></i></a>
                <a href="https://www.linkedin.com/in/saykatbhakta"><i class="fa-brands fa-linkedin"></i></a>
            </ul>
        </div>
    </div>

    <!-- -----------------------Main footer----------------------- -->
    <div class="main-footer">

        <div class="footer-box">
            <p>Popular Tools</p>
            <ul>
                <a>Image Enhancer</a>
                <a>Online Video Editor</a>
                <a>Video Converter</a>
                <a>Video Compressor</a>
                <a>Noise Reducer</a>
                <a>Face Cartoonizerr</a>
            </ul>
        </div>
        <div class="footer-box">
            <p>Solution</p>
            <ul>
                <a>Online Tools</a>
                <a>Desktop Tool</a>
                <a>API</a>
            </ul>
        </div>
        <div class="footer-box">
            <p>Learn</p>
            <ul>
                <a>Feedback</a>
                <a>Blog</a>
                <a>Formats Support</a>
            </ul>
        </div>
    </div>
</div>
<!-- --------------------------pannel footer--------------------- -->
<div class="pannel">
    <div class="left_panel">
        <a class="pannel-1">Privacy</a>
        <a class="pannel-2">Cookies</a>
    </div>
   <div class="right_panel">
    <a class="pannel-3">Language</a>
   </div>
</div>
<script src="/app.js"></script>