<% layout("/layouts/boilerplate") %>
<div class="upload_body">
    <div class="height">
		
	</div>
    <div class="main">
        <h1>Your Denoised Image</h1>
        <div class="container cont">
           <img src="IMG-1.png" alt="" class="dnimg">
        </div>
        <a href="IMG-1.png" download  class="select-image upload_img" style="text-align: center; text-decoration: none;">Download</a>
    </div>
    <script src="upload.js"></script>
</div>
