<% layout("/layouts/boilerplate") %>
<style>
    .row{
        
        margin-top: 62px;
        margin-bottom: 0px;
    }
    .box{
        background-color: #040717;
    }
</style>
<div class="box ">
    <div class="alert alert-danger col-6 offset-3 row" role="alert">
       <p class="alert-heading"><%= message %></p>
    
      </div>
</div>